.App {
  text-align: center;
}

.Navbar{
  /* border: 1px solid black; */
  background-color: white;
  width: 100%;
  height: 40px;
  display: flex;
  gap: 1rem;
justify-content: center;
align-items: center;
font-size: 20px;
justify-content: space-evenly;
padding: 1rem;
align-items: center;
position: fixed;
/* margin-top: -80px; */
}

.dummy{
  height: 80px;
  /* border: 1px solid red; */
}
 .ScrollDiv{
  width: 40%;
  display: flex;
justify-content: space-evenly;
background-color: aliceblue;
}
.ScrollDiv button{
  width: 19%;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
} 
.ScrollName{ 
  margin-left: -190px;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
 margin: left;
}
.Home{
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  /* margin-top:80px; */
}
.Homediv-1{
  font-size: 28px;
  text-align: left;
  color: rgb(83, 82, 82);
  height: auto;
}

.Imagediv{
  height: 360px;
  padding: 2rem;
  margin-left: -190px;
  
}

.myImage{
  border-radius: 50%;
  height:100%;
}

.Lin_Git{
  height: 50px;
  width: 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.githublink{
  height: 50px;
  width: 50px;
  color: grey;
}
.ResumeButton{
  border: 1px solid grey;
  background-color: grey;
  height: 50px;
  width: 150px;
  border-radius: .5rem;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.ResumeButton:hover{
  color: white;
}

.Nlogo{
  height: 40px;
  width: 60px;
}

.About{
  /* margin-top: 80px; */
  background-color:beige;
  /* background-color: rgb(47, 47, 75); */
  text-align: center;
  padding: 2rem;
  /* color: white; */
}
.About a{
  color: black;
}
.About h1{
color: grey;
font-size: 35px;
}

.About h2{
  font-size: 28px;
}

.About p{
  width: 50%;
  margin: auto;
  font-size: 19px;
}

.Skill{
  background-color: aliceblue;
  padding: 10px;
}
.Skills{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
}
.Skillsdiv-1{
  width: 45%;
  text-align: left;
}
.Skillsdiv-1 div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}
.skillsIcons{
  height: 50px;
  width: 30px;
  color: gray;
  margin-left: 10px;
}

.Contact{
  /* margin-top: 80px; */
  height: 300px;
  background-color: rgb(47, 47, 75);
  color: white;
  padding: 1.5rem;
  /* text-decoration: none; */
}

.Contact h1{
  font-size: 35px;
}

.SocialContact{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-decoration: none;
}
.SocialContact b{
  color: white;
  /* text-decoration-color:rgb(47, 47, 75); */
}
.socialicon{
  height: 40px;
  width: 40px;
  color: white;
}

.Projects{
  background-color: beige;
  border: 1px solid beige;
  width: 100%;
}
.AllPrjects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 3rem;
  gap: 20px;
}
.subProject{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15px;
  text-align: left;
  padding: 10px;
}
.subProject>img{
width: 100%;
}

.ProjectButtons{
  width: 30%;
  margin: auto;
  display: flex;
  gap: 10px;
}
.ProjectButtons button{
  width: 100%;
  height: 35px;
  font-size: 18px;
  border: 1px solid rgb(180, 180, 133);
  background-color: beige;
  border-radius: 10px;
  cursor: pointer;
}


@media (max-width:1078px){
  .ProjectButtons button{
    font-size: 15px;
  }
  .Contact h1{
    font-size: 30px;
  }
  .Skills{
    width: 90%;
  }
  .Skillsdiv-1{
    width: 45%;
  }
  .skillsIcons{
    height: 30px;
    width: 30px;
  }
  .Skillsdiv-1 div{
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    
  }
.About{
  padding: 1.5rem;
}
.About h2{
  font-size: 30px;
}
.About p{
  font-size: 16px;
  width: 70%;
}
  .Nlogo{
    height: 40px;
    width: 50px;
    /* margin-left: 40px; */
  }
  .Imagediv{
    height: 280px;
    padding: 2rem;
    margin-left: -90px;
    
  }
  .Homediv-1{
    font-size: 20px;
  
  }
  .ResumeButton{
    height: 40px;
    width: 110px;
  }
  .Navbar{
    font-size: 15px;
    gap: 15px;
    padding: .5rem;
  }
  .ScrollDiv{
    width: 60%;
  }

}
@media (max-width:450px){
  .ProjectButtons button{
    font-size: 15px;
    width: 100%;
  }
  .ProjectButtons{
    width: 40%;
  }
  .AllPrjects{
    display: block;
    padding: 10px;
  }
  .Contact h1{
    font-size: 25px;
  }
  .socialicon{
    height: 25px;
    width: 25px;   
  }
  .socialname{
    font-size: 15px;
  }
  .Skills{
    width: 90%;
    display: block;
  }
  .Skillsdiv-1{
    width: 95%;
  }
  .skillsIcons{
    height: 30px;
    width: 30px;
  }
  .Skillsdiv-1 div{
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    
  }
  .About{
    padding: 1rem;
  }
  .About h1{
    font-size: 25px;
  }
  .About h2{
    font-size: 20px;
  }
  .About p{
    font-size: 10px;
    width: 70%;
  }
  .Lin_Git{
    height: 30px;
    width: 60px;
    margin-top: 3px;
  }
  .githublink{
    height: 30px;
    width: 30px;
  }
  .Nlogo{
    height: 30px;
    width: 30px;
  }
  .Imagediv{
    height: 100px;
    padding: 2rem;
    margin-left: -40px;
    
  }
  
  .Homediv-1{
    font-size: 10px;
  }
  .ResumeButton{
    font-size: 15px;
    height: 30px;
    width: 80px;
  }
  .ScrollDiv{
    width: 70%;
  }
  .ScrollDiv button{
    width: 18%;
    height: 20px;
    font-size: 10px;
  }
  .ScrollName{
    width: 15%;
  }

  .dummy{
    height: 50px;
    /* border: 1px solid red; */
  }
  .Navbar{
    height: 30px;
    display: flex;
  }
}