.App {
  text-align: center;
}


.Navbar{
  border: 1px solid black;
  height: 40px;
  display: flex;
  gap: 1rem;
justify-content: center;
align-items: center;
font-size: 20px;
justify-content: space-between;
padding: 1rem;
}
.Navlinks{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.NameLink{
  margin-left: 40px;
}

@media (max-width:878px){

  .Navbar{
    font-size: 15px;
    gap: 15px;
    padding: .5rem;
  }
  .NameLink{
    margin-left: 20px;
  }
  .Navlinks{
    width: 60%;
  }
}

@media (max-width:450px){
  .Navbar{
    font-size: 12px;
    gap: 10px;
    padding: .5rem;
    height: 30px;
  }
}